<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ye html nhi babu ejs h </h1>
    <!-- here we can write js code as well (html + js)-->
    <p>
        hello ejs kaise ho
    </p>
</body>
</html>