<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello ji mera fav color blue h</h1>
    <h2>my fav no. is <%= 2+2+3 %> </h2>
    <!-- <h3>my fav no. is <%=Math.floor(Math.random()*100)%></h3> -->
    <h3>my fav no. is <%=num%></h3>

    <% if(num%2==0){ %>
        <h1>even no.</h1>
    <% }else{ %>
        <h1>odd no.</h1>
    <%}%>
</body>
</html>